Pretrained Models/CIFAR10.t7
Results For Demo/CIFAR10.t7
Pretrained Models/CIFAR10CPU.t7
Results For Demo/activation_maximization.jpg
Results For Demo/fgst.jpg
Pretrained Models/RAJANCIFAR10.t7
Results For Demo/CIFAR10.t7
Datasets/1_DiabeticRetinopathy.arff
Datasets/student-por.csv
Datasets/5_GermanData.xlsx
Datasets/default of credit card clients.xls
Datasets/Faults.xlsx
Datasets/seismic-bumps.csv
Results/classification_10_class_balance.png
Datasets/Concrete_Data.xls
Datasets/ac2_cache.npz
Datasets/ac4_cache.npz
Results For Demo/merckResults.txt

Datasets/australian.xlsx
Datasets/yeast.data
Datasets/communities.data
Datasets/train_data.txt
Datasets/hour.csv

Pretrained Models/statlog_australian_adaboost_model.sav
Pretrained Models/statlog_australian_gaussian_grid_model.sav
Pretrained Models/statlog_australian_k_nearest_neighbours_modal.sav
Pretrained Models/statlog_australian_logistic_regression_model.sav
Pretrained Models/statlog_australian_neurel_network_model.sav
Pretrained Models/statlog_australian_random_forest_model.sav
Pretrained Models/statlog_australian_svm_model.sav
Pretrained Models/statlog_australian_tree_model.sav

Pretrained Models/yeast_adaboost_model.sav
Pretrained Models/yeast_gaussian_grid_model.sav
Pretrained Models/yeast_k_nearest_neighbours_modal.sav
Pretrained Models/yeast_logistic_regression_model.sav
Pretrained Models/yeast_neurel_network_model.sav
Pretrained Models/yeast_random_forest_model.sav
Pretrained Models/yeast_svm_model.sav
Pretrained Models/yeast_tree_model.sav

Pretrained Models/Communities_Crime_Linear_regression_model.sav
Pretrained Models/Communities_Crime_SVR_model.sav
Pretrained Models/Communities_Crime_adaboost_model.sav
Pretrained Models/Communities_Crime_decsion_tree_model.sav
Pretrained Models/Communities_Crime_gaussian_concrete_model.sav
Pretrained Models/Communities_Crime_neural_network_model.sav
Pretrained Models/Communities_Crime_random_forest_model.sav

Pretrained Models/Parkinson_adaboost_model.sav
Pretrained Models/Parkinson_decision_tree_model.sav
Pretrained Models/Parkinson_gaussian_model.sav
Pretrained Models/Parkinson_Linear_regression_model.sav
Pretrained Models/Parkinson_neural_network_model.sav
Pretrained Models/Parkinson_SVR_model.sav
Pretrained Models/Parkinson_random_forest_model.sav

Pretrained Models/Bike_Sharing_adaboost_model.sav
Pretrained Models/Bike_Sharing_decision_tree_model.sav
Pretrained Models/Bike_Sharing_Linear_regression_model.sav
Pretrained Models/Bike_Sharing_neural_network_model.sav
Pretrained Models/Bike_Sharing_random_forest_model.sav
Pretrained Models/Bike_Sharing_SVR_model.sav
Pretrained Models/Bike_Sharing_gaussian_model.sav

Results For Demo/Communities&CrimeADA Learning Curve.png
Results For Demo/Communities&CrimeADABestParams.sav
Results For Demo/Communities&CrimeADAModel.sav
Results For Demo/Communities&CrimeDTR Learning Curve.png
Results For Demo/Communities&CrimeDTRBestParams.sav
Results For Demo/Communities&CrimeDTRModel.sav
Results For Demo/Communities&CrimeGPR Learning Curve.png
Results For Demo/Communities&CrimeGPRBestParams.sav
Results For Demo/Communities&CrimeGPRModel.sav
Results For Demo/Communities&CrimeNN Learning Curve.png
Results For Demo/Communities&CrimeNNBestParams.sav
Results For Demo/Communities&CrimeNNModel.sav
Results For Demo/Communities&CrimeRFR Learning Curve.png
Results For Demo/Communities&CrimeRFRBestParams.sav
Results For Demo/Communities&CrimeRFRModel.sav
Results For Demo/Communities&CrimeSVR Learning Curve.png
Results For Demo/Communities&CrimeSVRBestParams.sav
Results For Demo/Communities&CrimeSVRModel.sav
Results For Demo/Community&Crime_linear_regression_model.sav
Results For Demo/Community&Crime_linear_regression_model_best_param.sav

Results For Demo/StatlogAustralianABC.sav
Results For Demo/StatlogAustralianDCT.sav
Results For Demo/StatlogAustralianGNB.sav
Results For Demo/StatlogAustralianKNN.sav
Results For Demo/StatlogAustralianLRC.sav
Results For Demo/StatlogAustralianMLP.sav
Results For Demo/StatlogAustralianRFC.sav
Results For Demo/StatlogAustralianSVM.sav

Results For Demo/YeastAda.sav
Results For Demo/YeastDCT.sav
Results For Demo/YeastGNN.sav
Results For Demo/YeastKNN.sav
Results For Demo/YeastLR.sav
Results For Demo/YeastNN.sav
Results For Demo/YeastRF.sav
Results For Demo/YeastSVM.sav

Results For Demo/ParkinsonADA Learning Curve.png
Results For Demo/ParkinsonADABestParams.sav
Results For Demo/ParkinsonADAModel.sav
Results For Demo/ParkinsonDTR Learning Curve.png
Results For Demo/ParkinsonDTRBestParams.sav
Results For Demo/ParkinsonDTRModel.sav
Results For Demo/ParkinsonGPR Learning Curve.png
Results For Demo/ParkinsonGPRBestParams.sav
Results For Demo/ParkinsonGPRModel.sav
Results For Demo/ParkinsonNN Learning Curve.png
Results For Demo/ParkinsonNNBestParams.sav
Results For Demo/ParkinsonNNModel.sav
Results For Demo/ParkinsonRFR Learning Curve.png
Results For Demo/ParkinsonRFRBestParams.sav
Results For Demo/ParkinsonRFRModel.sav
Results For Demo/ParkinsonSVR Learning Curve.png
Results For Demo/ParkinsonSVRBestParams.sav
Results For Demo/ParkinsonSVRModel.sav
Results For Demo/Parkinson_Linear_regression_model.sav
Results For Demo/Parkinson_Linear_regression_model_best_param.sav


Results For Demo/BikeSharingADA Learning Curve.png
Results For Demo/BikeSharingADABestParams.sav
Results For Demo/BikeSharingADAModel.sav
Results For Demo/BikeSharingDTR Learning Curve.png
Results For Demo/BikeSharingDTRBestParams.sav
Results For Demo/BikeSharingDTRModel.sav
Results For Demo/BikeSharingLRBestParams.sav
Results For Demo/BikeSharingLRModel.sav
Results For Demo/BikeSharingNN Learning Curve.png
Results For Demo/BikeSharingNNBestParams.sav
Results For Demo/BikeSharingNNModel.sav
Results For Demo/BikeSharingRFR Learning Curve.png
Results For Demo/BikeSharingRFRBestParams.sav
Results For Demo/BikeSharingRFRModel.sav




